img {
    height: 260px;
    padding-left: 40px;
    padding-right: 40px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    border-radius: 13px;
}

p {
    padding-left: 40px;
    padding-right: 40px;
}

body {
    text-align: center;
    background: linear-gradient(#FFD1DC 0%, #aec6cf 100%);
    z-index: 9;
}

.line {
    height: 5px;
    width: 110px;
    background-color: white;
    margin: auto;
}

h2 {
    text-shadow: 2px 2px #FFFFFF;
}

#info {
    padding: 20px;
    text-align: center;
    font-size: 17px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 35px;
    margin-left: 35px;
}

div {
    margin-top: 15px;
}

#head {
    font-family: 'Viaoda Libre', cursive;
}

.menu {
    list-style: none;
    top: 16px;
    z-index: 11;
    cursor: pointer;
}

.links {
    font-weight: 600;
    float: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.links:hover {
    background-color: pink;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.m {
    text-decoration: none;
}
.m:hover{
    color: white
}
