img {
    height: 260px;
    padding-left: 40px;
    padding-right: 40px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    border-radius: 13px;
}

p {
    padding-left: 40px;
    padding-right: 40px;
}

body {
    text-align: center;
    background: linear-gradient(#FFD1DC 0%, #aec6cf 100%);
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
    z-index: 9;
}

.line {
    height: 5px;
    width: 110px;
    background-color: white;
    margin: auto;
}

h2 {
    text-shadow: 2px 2px #FFFFFF;
}

#info {
    padding: 20px;
    text-align: center;
    font-size: 17px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 35px;
    margin-left: 35px;
}

div {
    margin-top: 15px;
}

#head {
    font-family: 'Viaoda Libre', cursive;
}

.menu {
    list-style-type: none;
    cursor: pointer;
    background-color: hotpink;
    margin: 0;
    position: fixed;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 11;
}

.links {
    font-weight: 600;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.links:hover {
    background-color: pink;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.m {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}

.m:hover {
    color: white;
}

.favs {
    transition: transform .2s;
    cursor: pointer;
}

.favs:hover {
    transform: scale(0.9);
}
#intro{
    padding-top: 25px;
}
h3{
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-family: 'Lobster Two', cursive;
}